body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto;
}

.nav-container,
.hero-container{
  background-color: #1E2837;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav,
.hero {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.left {
  display: flex;
  align-items: center;
  font-size: 24px;
  flex-shrink: 0;
  font-family: monospace;
  color: #F9FAF8;
  font-weight: bolder;
}

.right {
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.hero-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.hero {
 gap: 20px;
}

.hero-text,.hero-img {
  width: 450px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-text .hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-text button {
  color: #F9FAF8;
  background-color: #3882F6;
  align-self: start;
  padding: 10px 34px;
  border-radius: 10px;
  border: none;
}

.hero-img img{
  width: 450px;
  border-radius: 20px;
}


